
/* ================================= Reset */

*::before,
*::after,
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;700;900&display=swap');

body {
  font-size: 62.5%;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 1rem;
}

